// some content to test build-system
.app.scss {
  display: none;
}


/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

// Core variables and mixins
@import "bootstrap-sass/lib/variables";
@import "bootstrap-sass/lib/mixins";

// Reset
@import "bootstrap-sass/lib/normalize";
@import "bootstrap-sass/lib/print";

// Core CSS
@import "bootstrap-sass/lib/scaffolding";
@import "bootstrap-sass/lib/type";
//@import "bootstrap-sass/lib/code";
@import "bootstrap-sass/lib/grid";
@import "bootstrap-sass/lib/tables";
@import "bootstrap-sass/lib/forms";
@import "bootstrap-sass/lib/buttons";

// Components
//@import "bootstrap-sass/lib/component-animations";
//@import "bootstrap-sass/lib/glyphicons";
@import "bootstrap-sass/lib/dropdowns";
@import "bootstrap-sass/lib/button-groups";
@import "bootstrap-sass/lib/input-groups";
@import "bootstrap-sass/lib/navs";
@import "bootstrap-sass/lib/navbar";
//@import "bootstrap-sass/lib/breadcrumbs";
//@import "bootstrap-sass/lib/pagination";
//@import "bootstrap-sass/lib/pager";
//@import "bootstrap-sass/lib/labels";
//@import "bootstrap-sass/lib/badges";
//@import "bootstrap-sass/lib/jumbotron";
//@import "bootstrap-sass/lib/thumbnails";
@import "bootstrap-sass/lib/alerts";
//@import "bootstrap-sass/lib/progress-bars";
//@import "bootstrap-sass/lib/media";
//@import "bootstrap-sass/lib/list-group";
//@import "bootstrap-sass/lib/panels";
@import "bootstrap-sass/lib/wells";
@import "bootstrap-sass/lib/close";

// Components w/ JavaScript
@import "bootstrap-sass/lib/modals";
@import "bootstrap-sass/lib/tooltip";
@import "bootstrap-sass/lib/popovers";
//@import "bootstrap-sass/lib/carousel";

// Utility classes
@import "bootstrap-sass/lib/utilities";
@import "bootstrap-sass/lib/responsive-utilities";


$fa-font-path:    "assets/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";


/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

/*
 * Mark all links with a pointer.
 * Browsers don't show a pointer for links without a href per default,
 * so we have to 'reactivate' the pointer e.g. for links with ng-click.
 */
a {
  cursor: pointer;
}

.content {
  margin-top: 47px;
}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using.
 */
